// *** Colors ***
$color-white: #fff;
$color-black: #000;

$color-grey: #808080;

$color-dark-black: #222;

$color-orange: #ffa500;
$color-red: #ff0000;

$color-heart: #c00606;

$color-body: hsl(0, 0%, 12%);
$color-dark-blue: hsl(230 35% 7%);
$color-light-blue: hsl(231 77% 90%);

$color-moon: #dbdbdb;

$color-astronaut-shadow: #849ba3;
// *** End of Colors ***

// *** Z index ***
$zIndex-special-01: -1;

$zIndex-extra-small-01: 2;

$zIndex-small-01: 5;
$zIndex-small-02: 10;
$zIndex-small-03: 15;

$zIndex-medium-01: 30;
$zIndex-medium-02: 40;
$zIndex-medium-03: 50;

$zIndex-large-01: 100;
$zIndex-large-02: 150;
$zIndex-large-03: 200;

$zIndex-extra-large-01: 500;
$zIndex-extra-large-02: 1000;
$zIndex-extra-large-03: 2000;
// *** End of Z index ***

//  *** Font Family ***
$font-fa-primary: "Bellefair", serif;
$font-fa-secondary: "Barlow Condensed", sans-serif;
$font-fa-tertiary: "Barlow", sans-serif;
//  *** End of Font Family ***
